input[type="text"],input[type="email"]
{
 margin-top: 7px;
 margin-right: 13px;
 margin-left: 10px;
 width: 80%;
 padding: 6px;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Open Sans, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
 
input[type="radio"]
{
 margin-left: 15px;
 display: inline-block;
}
 
input[type = "file"]
{
 margin-top: 7px;
 margin-right: 13px;
 margin-left: 10px;
 width: 80%;
 padding: 6px;
 box-sizing: border-box;
}
 
input[type=submit]
{
 width: 25%;
 padding-top: 10px;
 padding-bottom: 10px;
 background-color:#24a0ed;
 color: white;
 font-size: 16px;
 margin-left: 35%;
 margin-bottom: 13px;
 border: none;
 border-radius: 20px;
 box-shadow:0px 5px 20px #24a0ed;
}
 
input[type=checkbox]
{
 margin-left: 10px;
 margin-right: 20px;
 transform: scale(1.5);
 padding: 10px;
}
 
textarea
{
 margin-top: 10px;
 width: 80%;
 margin-left: 10px;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
}
 
form
{
 width: 40%;
 background-color: rgb(255, 255, 255,0.9);
 margin: auto;
 padding: 20px;
 border-radius: 15px;
 box-shadow: 0px 0px 13px rgb(0, 0, 0);
}
 
label{
 margin-left: 10px;
}











